# Cargo files
debug/
target/
#Cargo.lock

# macOS
.DS_Store

# Environment files
.env
*.env
!sample.env

# Artifact files
artifacts/

# Local files
.local/*.db

## Postgres database files
.local/postgres/*
!.local/postgres/docker-compose.yml

## Public dev files
.local/public/*
